<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 mb-4">
  <a class="navbar-brand fw-bold text-primary d-flex align-items-center" [routerLink]="['/instructor']" [queryParams]="{ instructorId: instructorId }">
    <i class="bi bi-incognito me-2"></i> INCO LEARN
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#instructorNav"
    aria-controls="instructorNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="instructorNav">
    <!-- <ul class="navbar-nav mx-auto  d-flex justify-content-start">
      <li class="nav-item mx-2 ">
        <a class="nav-link  d-flex" [routerLink]="['/instructor']" [queryParams]="{ instructorId: instructorId }">
          <i class="bi bi-bar-chart me-1"></i> Dashboard
        </a>
      </li>
    </ul> -->

    <ul class="navbar-nav ms-auto">
      <div class="nav-profile"
     (mouseenter)="openDropdown()"
     (mouseleave)="closeDropdown()">

  <div class="avatar">{{ initials }}</div>

  <div class="profile-dropdown" 
       *ngIf="dropdownVisible"
       (mouseenter)="keepOpen()"
       (mouseleave)="closeDropdown()">

    <div class="pd-header">
      <div class="avatar large">{{ initials }}</div>
      <div class="text-info" >
        <strong style="color:#000;" >{{ user.fullName }}</strong> <br>
        <small style="color:#000;" >{{ user.email }}</small>
      </div>
    </div>

    <hr>

    <button class="pd-btn" (click)="goToProfile()">Profile</button>
    <button class="pd-btn" (click)="logout()">Logout</button>

  </div>

</div>
    </ul>
  </div>
</nav>
