<nav class="navbar navbar-expand-lg navbar-dark px-4"  data-aos="fade-down" data-aos-duration="1000">
    <div class="container-fluid">
        <a class="navbar-brand mx-2 fw-bold" href="#">
  <img src="inco.svg" alt="Your Logo" width="62" height="62">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-3 " id="navbarNav"> 
        <ul class="navbar-nav me-auto gap-2 mx-5  mb-2 mb-lg-0">
            <li class="nav-item "> <a class="nav-link" routerLinkActive="active" routerLink="/courses">Courses</a> </li>
            <li class="nav-item "> <a class="nav-link" routerLinkActive="active" routerLink="/courses">FAQ's</a> </li>
           
            
            <li class="nav-item"> <a class="nav-link" routerLink="/aboutus">About Us</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="/support">Support</a> </li>
        </ul>
    
        <div class="d-flex align-items-center gap-3">
            <span class="text-white">EN</span>
            <button (click)="login()" class="btn btn-outline-dark px-4"> Log in</button>
            <!-- <a routerLink="login" class="btn btn-outline-dark text-white px-4"> Log in</a> -->
            <button (click)="signup()" class="btn btn-outline-dark p-2">Create an account</button>
            <!-- <button (click)="logout()" class="btn btn-outline-dark btn-danger px-4">Log out</button> -->
        </div>
    </div>
    </div>
</nav>

   